/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #242b2c;  
    
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    font-family: Verdana;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: left;
}


header {
    color: darkorange;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    border-radius: 10px;
}

.smalltext {
    font-size: 0.7em;
    color:rgb(209, 143, 0);
}

.mail {
    color:rgb(209, 143, 0);
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #141414;
    overflow: hidden;
    border-radius: 5px;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(255, 136, 25);
}

nav li a.active {
    background-color: rgb(138, 74, 14);
}




